<div class="surface-0 flex align-items-center justify-content-center min-h-fit min-w-fit overflow-hidden" style="padding:2% ;">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <h1 >let's create your event</h1>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="CompanyName">Organization name</label>
                            <p><b>{{organizationName}}</b></p>
                            <!-- <input [(ngModel)]="organizationName"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="CompanyName" placeholder="Organization name" disabled="disabled"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nameOfEvent">Name of event</label>
                            <input [(ngModel)]="eventName" type="text"  [ngModelOptions]="{standalone: true}" class="form-control" id="nameOfEvent" placeholder="name of event">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Contact Email</label>
                            <input [(ngModel)]="email" type="email"  [ngModelOptions]="{standalone: true}" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>                   
                        <div class="form-group col-md-6">
                            <label for="inputCity">City of event</label>
                            <input [(ngModel)]="city" type="text" [ngModelOptions]="{standalone: true}" class="form-control" id="inputCity" placeholder="city">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="eventType">Event Type : </label>
					        <p-dropdown [(ngModel)]="eventType" [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
                            
                            <!-- <input [(ngModel)]="eventType" type="text"  [ngModelOptions]="{standalone: true}" class="form-control" id="inputEmail4" placeholder="event type"> -->
                        </div> 
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address of event</label>
                            <input [(ngModel)]="address" type="text" [ngModelOptions]="{standalone: true}" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="addressNumber">Number</label>
                            <input [(ngModel)]="addressNumber"  [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="addressNumber" placeholder="N°">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="maxPerson">max participants</label>
                            <input [(ngModel)]="maxPers"  [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="maxPerson" placeholder="max participants">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="date">date and hour</label>
                            <input [(ngModel)]="date"  [ngModelOptions]="{standalone: true}" type="datetime-local" class="form-control" id="maxPerson" placeholder="Hour">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="eventDesc">Event descrption</label>
                            <p-editor [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [style]="{'height':'320px'}">
                                <ng-template pTemplate="header">
                                    <span class="ql-formats">
                                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    </span>
                                </ng-template>
                            </p-editor>
                        </div>
                    </div>
                <button (click)="createEvent()" type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>