<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <p-menubar [model]="items">            
            <button *ngIf="!isConnect" (click)="navToLogin()" pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button>
            <button *ngIf="!isConnect" (click)="navToRegister()" pButton pRipple label="Register" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button>
            <button *ngIf="isConnect" (click)="logOut()" pButton pRipple label="logOut" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-red-500 text-white"></button>
        </p-menubar>
    </div>
</div>
