<div class="surface-0 flex align-items-center justify-content-center min-h-fit min-w-fit overflow-hidden" style="padding:2% ;">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">

        <h1>Connect your self as :</h1>
    </div>
</div>
<div class="surface-0 flex align-items-center justify-content-center min-h-fit min-w-fit overflow-hidden" style="padding:2% ;">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="flex card-container green-container p-0">
            <p-card header="Cooperative" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" style=" width: 80%; border-radius: 12px; display: block; margin-left: auto; margin-right: auto; width: 50%; position: relative;" src="assets/production/img/coopimg.png">
                </ng-template>
                <p>You are a cooperative on non profit organization and you would like to invrease your event's visibility on this platform! </p>
                <ng-template pTemplate="footer">
                    <p-button (click)="loginCoop()" label="Login" icon="pi pi-check"></p-button>
                    <p-button (click)="registerCoop()" label="Register" icon="pi pi-check" styleClass="p-button-success" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
        </p-card>

            <p-card header="Users"  [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" style=" width: 80%; border-radius: 12px; display: block; position: relative; margin-left: auto;margin-right: auto;width: 50%;" src="assets/production/img/userimg.jpg">
                </ng-template>
                <p>You are Belgian and you would like to have a look to all the events next to you! You're welcome, it's totally free </p>
                <ng-template pTemplate="footer">
                    <p-button  (click)="loginUser()" label="Login" icon="pi pi-check"></p-button>
                    <p-button (click)="registerUser()" label="Register" icon="pi pi-check" styleClass="p-button-success" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>